<div id="form-container">
  <% unless @error_message.blank? %>
  <div id="error-box"><%= @error_message %></div>
  <% end %>
<form action="/send" method="post">
  <p>
    <label for="name">Name</label><br /><input type="text" name="lead[name]" size="30" value="<%=h @lead.name %>" />
  </p>
  <p>
    <label for="organization">Organization</label><br /><input type="text" name="lead[organization]" size="30" value="<%=h @lead.organization %>" />
  </p>
  <p>
    <label for="email">Email</label><br /><input type="text" name="lead[email]" size="30" value="<%=h @lead.email %>" />
  </p>
  <p>
    <label for="phone">Phone</label><br /><input type="text" name="lead[phone]" size="30" value="<%=h @lead.phone %>" />
  </p>
  <p>
    <label for="comment">Message (optional)</label><br />
  <textarea name="lead[comment]" rows="5" cols="40"><%=h @lead.comment %></textarea>
  </p>
  
  <input type="submit" value="Send" />
</form>
  </div>