<div class="result">
  <h4>
    <a href="/details?uid=<%= escape(record['guid'])
    %>&q=<%= escape(params[:q]) %><%= "&page=#{escape(params[:page])}"
    unless params[:page].blank? %>"><%=h record['full_name'] %></a>
    (<%= record['type'] %>)
  </h4>
  <% if record['aka'].to_s.size > 0 %>
    <div>
      <span class="label">Also known as:</span> <span class="result_aka"><%= record['aka'].map {|a| a == params[:q] ? "<strong>#{h(a)}</strong>" : h(a) }.join(', ') %></span>
    </div>
  <% end %>

  <div class="result_info">
    <% unless record['date_of_birth'].blank? %>
      <p>
        <span class="label">Date of birth:</span> <span class="value"><%=h record['date_of_birth'] %></span>
        <% unless record['date_of_birth_alt'].blank? %>
          <span class="label">Alt. dates of birth:</span> <span class="value"><%=h record['date_of_birth_alt'] %></span>
        <% end %>
      </p>
    <% end %>

    <% unless record['place_of_birth'].blank? %>
      <p>
        <span class="label">Place of birth:</span> <span class="value"><%=h record['place_of_birth'] %></span>
        <% unless record['place_of_birth_alt'].blank? %>
          <span class="label">Alt. places of birth:</span> <span class="value"><%=h record['place_of_birth_alt'].join(', ') if record['place_of_birth_alt'].is_a?(Array) %></span>
        <% end %>
      </p>
    <% end %>

    <% unless record['nationality'].blank? %>
      <p>
        <span class="label">Nationalities:</span> <span class="value"><%=h record['nationality'].join(', ') if record['nationality'] %></span>
      </p>
    <% end %>

    <p class="source">
      <a href="http://www.osfi-bsif.gc.ca">Source: OSFI (Canada)</a>
    </p>
  </div>
</div>
